
@{
    ViewData["Title"] = "Help";
}

<head>
    <meta http-equiv="refresh" content="5">
</head>
<h1>Help</h1>
<p>
    Currently you can view two different types of data from Reddit. The number of posts
    submitted by domain, or the number of posts submitted by subreddit. If you need
    additional help with setup, then it would be best to look in the README file.
</p>
<p>
    The Reddit API is being hit while the website is running and storing the results into
    a database. The analysis pages will refresh every 15 seconds to the newest information
    from the database.
</p>
