@using System.Threading;
@model IEnumerable<RedditApiReader.Models.RedditInfoItem>

@{
    ViewData["Title"] = "Welcome";
}

<head>
    <meta http-equiv="refresh" content="5">
</head>
<h1>Welcome to the Reddit Analyser!</h1>
<h2>Currently @Model.Count() posts collected </h2>
